<a href="/create" class="createBtn">Create✍</a>
<header>
      <div class="logo-container">
        <img class="logo" src="../public/logo.svg" alt="" />
        <a href="/">Note Making App</a> 
      </div>
    </header>