<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%> 
  <body>
    
    <%- include('./partials/header.ejs')  %> 

    <main>
      <%- include('./partials/note-list.ejs')  %> 
      <div class="opened"></div>
    </main>
  </body>
</html>
